body {
	background-image: url("images/bg-frisbee.jpg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100%;
	background-color:#2C6305;
	color:#fff;
}
.hero-unit {
	color:#333;
}


a {
	color:;
}

a:hover {
	color:#0099dd;
	text-decoration: none;
}

#page,
footer,
header {
	background: rgba(0,0,0,.75);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom:20px;
}

#page,
footer {
	border-radius:10px;
}

#page article {
	min-height:400px;
	padding:20px;
}
article h1 {
	font-family: 'Modern Antiqua', cursive;
	font-size:3em;
}
article h2 {
	font-size:1.2em;
}
.content {
	margin-top:60px;
}
@media (max-width: 767px) {
	.content {
		margin-top:20px;
	}
}
footer {
	padding:10px 20px;
}
footer p {
	margin:0;
}

#loaderWrapper {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 140%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.3;
	opacity:.30;
	filter: alpha(opacity=30);
}

#loaderWrapper > img {
	display:block;
	width:20%;
	padding-top:220px;
	margin:auto;
}

header.main {
	height:63px;
	background-color: #2C6305;
}

header.main > h1 {
	float:left;
	padding-left: 20px;
}


section#metaData {
	padding: 10px;
	height:40px;
	width:30%;
	float:right;
}

section#metaData > h2{
	clear:right;
	float:right;
	font-size: 20px;
	line-height: 20px;
	padding:0;
	margin: 0;
}


/* SCHEDULE PAGE */
.schedule {
	background-color: black;
	border-radius: 10px;
	margin-bottom: 20px;
}

.scheduleHeader {
	background-color:#2C6305;
	text-align: center;
	height:41px;
	padding-left: 10px;
}

.scheduleHeader > h2 {
	float:left;
	padding:0;
	margin:0;

}

.showRanking,
.minimize {
    padding:10px;
    margin-right:10px;
    position:relative;
    float:right;
}

.minimize:hover,
.showRanking:hover {
	background-color: #555;
    cursor: pointer;
}

.minimize {
	font-size: 20px;
	font-weight: bold;
}


/* RANKING PAGE */
#teamTable {
	margin-bottom: 20px;
}


/* GAME PAGE */

form#addGameScore{
	background-color: #2C6305;
	opacity: 1;
	padding: 20px;
}
form#addGameScore label{
	display: block;
	float: left;
	width: 11%;
	font-size: 1.3em;
	padding: 4px 0px;
	margin-right: 20px;
}

form#addGameScore section input{
		width: 11%;
}
form#addGameScore section input:last-child{
		width: 5%;
		margin-bottom:15px;
}
form#addGameScore section input:first-child,form#addGameScore label:first-child{
		width: 3%;

}