table {
    border-collapse: collapse;
    width:100%;
    text-align: center;
}

th {
    background-color: #333;
}
th, td {
    padding: 3px 5px;
}

tr.clickableTable:hover {
    background-color: #555;
}
td.clickableTable:hover {
    cursor: pointer;
}