<td>
	<input id="team" type="text" name="teamName" value="" />
</td>

<td>
	<input id="won" type="number" name="gamesWon" value="" />
</td>

<td>
	<input id="lost" type="number" name="gamesLost" value="" />
</td>

<td>
	<input id="setsWon" type="number" name="setsWon" value="" />
</td>

<td>
	<input id="setsLost" type="number" name="setsLost" value="" />
</td>

<td>
	<span> ± </span>
</td>

<td>
	<input id="pointsWon" type="number" name="pointWon" value="" />
</td>

<td>
	<input id="pointsLost" type="number" name="pointsLost" value="" />
</td>

<td>
	<span> ± </span>
</td>

<td>
	<a href="#" id="cancelCreateTeamButton">Cancel</a>
</td>
       