<header class="main">
    <h1> <a href="#/schedule">Schedule</a> &gt; <%= pageName %> Pool <%= poolName %></h1>
    <section id="metaData">
        <h2>League:</h2>
        <h2>Tournament:</h2>
    </section>
</header>

<table id="teamTable">
    <thead>
        <tr>
            <th>
                <a href="#" class="headerButton" name="teamName">Team</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="wins" >Won</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="losses">Lost</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="result">±</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="points_scored">Pts won</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="points_allowed">Pts lost</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="plus_minus">±</a>
            </th>
            <th>
                <a href="#" class="headerButton" name="games_played">Games</a>
            </th>
            
        </tr>
    </thead>
    <tbody id="teamTableBody">
    </tbody>

</table>
