<header class="scheduleHeader">
    <h2>Schedule: Pool <%= poolName %></h2>
    
    <span class="minimize"> - </span>
    <span class="showRanking" href="#/ranking/<%= poolName %>/<%= poolID %>">show ranking</span>
</header>
<section class="scheduleContent">
    <table class="Ttable">
        <thead>
            <tr>
                <th class="scheduleDate"><a href="#" class="headerButton" name="dateObject"><%= date %></a></th>
                <th><a href="#" class="headerButton" name="team1Name">Team A</a></th>
                <th><a href="#" class="headerButton" name="team1Score">Result</a></th>
                <th><a href="#" class="headerButton" name="team2Name">Team B</a></th>
            </tr>
        </thead>
        <tbody class="games">
        </tbody>
    </table>
</section>