<header>
    <h1><span>League:</span>AMSU - 12</h1>
    <h1><span>Tournament:</span>Threesome</h1>
</header>

<article id="viewgames">

        <h2>Pool A - Schedule</h2>

        <nav>
            <ul>
                <li id="filter">
                    <label>Show:</label>
                    
                </li>
                <li><button id="showForm">Add new game</button></li>
            </ul>
        </nav>


        <table id="Ttable">
            <thead>
                <tr>
                    <th>Monday 18 March</th>
                    <th>Team</th>
                    <th>Result</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody class="games">
            </tbody>
        </table>


        <form id="addGame" style="display:none;" action="#" class="form-2">
        <h1>Add Game</h1>

        <label for="date">Date:</label><input id="date" placeholder="Date" type="text" />

        <label for="team1">Team 1:</label><input id="team1"  placeholder="Team 1" type="text" />

        <label for="team1Score">Score Team 1:</label><input id="team1Score"  placeholder="Score Team 1" type="text" />

        <label for="team2">Team 2:</label><input id="team2"  placeholder="Team 2" type="text" />

        <label for="team2Score">Score Team 2:</label><input id="team2Score"  placeholder="Score Team 2" type="text" />

        <div class="clearfix"><input type="submit" id="add" value="Add" /></div>
        </form>

</article>
