<header class="scheduleHeader">
    <h2>Schedule: Pool <%= poolName %></h2>
    
    <span class="minimize"> - </span>
    <span class="showRanking" href="#/ranking/<%= poolName %>/<%= poolID %>">show ranking</span>
</header>
<section class="scheduleContent">
    <table class="Ttable">
        <thead>
            <tr>
                <th class="scheduleDate"><%= date %></th>
                <th>Team A</th>
                <th>Result</th>
                <th>Team B</th>
            </tr>
        </thead>
        <tbody class="games">
        </tbody>
    </table>
</section>