<section id="<%= setSection %>">
	<input id="<%= setNrID %>" type="text" value="<%= setNr %>" name="<%= setNr %>" disabled>
	<input id="<%= team1NameID %>" type="text" value="<%= team1Name %>" name="<%= team1NameID %>" disabled>
	<input id="<%= team1ScoreID %>" type="number" value="" name="<%= team1ScoreID %>">
	<input id="<%= team2NameID %>" type="text" value="<%= team2Name %>" name="<%= team2NameID %>" disabled>
	<input id="<%= team2ScoreID %>" type="number" value="" name="<%= team2ScoreID %>">
	<input id="<%= isFinalID %>"type="checkbox" name="<%= isFinalID %>" value="<%= isFinal %>">
</section>
