<section id="<%= setSection %>">
	<input id="<%= setNrID %>" type="text" value="<%= setNr %>" step="1" min="1" max="<%= maxSetNr %>" name="<%= setNrID %>" disabled>
	<input id="<%= team1NameID %>" type="text" value="<%= team1Name %>" name="<%= team1NameID %>" disabled/>
	<input id="<%= team1ScoreID %>" type="number" step="1" min="0" max="25" value="" name="<%= team1ScoreID %>" required/>
	<input id="<%= team2NameID %>" type="text" value="<%= team2Name %>" name="<%= team2NameID %>" disabled>
	<input id="<%= team2ScoreID %>" type="number" value="" step="1" min="0" max="25" name="<%= team2ScoreID %>" required/>
	<input id="<%= isFinalID %>"type="checkbox" name="<%= isFinalID %>" value=""/>
</section>
