<header>
	<h1><span>League:</span>AMSU - 12</h1>
	<h1><span>Tournament:</span>Threesome</h1>
</header>


<article>
	<header id="gameScore">
		<h1>Loading...</h1>
	</header>

	<div id="gameContainer">
		<nav class="actions">
			<ul>
				<li id="gameFilter">
					<label>Filteren:</label>

				</li>
			</ul>
		</nav>
		<table id="gameResult">
			<tr>
				<th>Set</th>
				<th>Team</th>
				<th>Result</th>
				<th>Team</th>
			</tr>
		</table>
		<form id="addGameSet" action="#">
			<h1>Add a set</h1>
			<input id="set" placeholder="0" type="text" maxlength="1" style="text-align:center;">
			<input id="team1" placeholder="Team naam 1" type="text">
			<input id="team1Score" placeholder="0" maxlength="2" type="text" style="text-align:right;"> - <input id="team2Score" placeholder="0"  maxlength="2" type="text">
			<input id="team2" placeholder="Team naam 2" type="text">
			<button type="submit" id="addSet">Add</button>
		</form>
	</div>

</article>